<!DOCTYPE html>
<html lang="ja">

<head>
  <title>lec03</title>
  <meta charset="UTF-8">
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>
  <p th:if="${loginUser}">
    Hi [[${loginUser}]]
  </p>

  <div th:if="${users}">
    <h1>
      エントリー
    </h1>
    <ul>
      <li th:each="user,stat:${users}">
        [[${user.name}]]
      </li>
    </ul>
  </div>

  <a href="/lec02?hand=0">ぐー</a>
  <a href="/lec02?hand=1">ちょき</a>
  <a href="/lec02?hand=2">ぱー</a>
  </p>
  <div><a th:text="${Hand}"></a></div>
  <div><a th:text="${CPU}"></a></div>
  <div><a th:text="${kekka}"></a></div>
  </p>
</body>


</html>
